<div class="container">
  <div class="col-11 mx-auto mt-5">
    <div class="pb-5">
      <div class="rock-paper-scissors">
        <h2 class="d-inline-block"><span class="emoji d-inline-block">👋</span> <span class="d-inline-block hello-world">Hello World</span></h2>
        <p class="lead">Singaporean 🇸🇬 Based in the USA, St. Louis Missouri 🇺🇸</p>
        <div class="links">
          <h3 class="pt-4">🔗</h3>
          <a href="https://www.linkedin.com/in/mdhilwan" target="_blank" class="btn d-block d-sm-inline btn-secondary btn-link-rounded">LinkedIn</a>
          <a href="https://github.com/mdhilwan" class="btn d-block d-sm-inline btn-secondary btn-link-rounded">GitHub</a>
          <a href="https://bitbucket.org/mdhilwan" class="btn d-block d-sm-inline btn-secondary btn-link-rounded">BitBucket</a>
          <a href="https://twitter.com/md_hilwan" class="btn d-block d-sm-inline btn-secondary btn-link-rounded">Twitter</a>
          <a href="/resume" class="btn d-block d-sm-inline btn-outline-secondary btn-link-rounded">Resumé</a>
        </div>
      </div>
    </div>
  </div>
</div>
