<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="Login Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login to Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" *ngIf="recognizeUserState === 'Unrecognized User'">
          <strong>{{recognizeUserState | titlecase}}</strong>
          <p>The user that you are using is not recognised to use this feature.</p>
        </div>
        <div class="alert alert-success" *ngIf="recognizeUserState === 'Recognized User'">
          <strong>{{recognizeUserState | titlecase}}</strong>
          <p>Welcome back.</p>
        </div>
        <div class="text-center" *ngIf="recognizeUserState !== 'Recognized User'">
          <button type="button" class="btn btn-outline-secondary" (click)="authService.GoogleAuth()">
            <i class="bi bi-google"></i> Log in with Google
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
