<div class="fixed-bottom">
  <div class="position-relative m-2">
    <div class="btn-group btn-group-sm btn-link-rounded" *ngIf="!authService.isLoggedIn">
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal">
        <i class="bi bi-lock-fill"></i> Login
      </button>
<!--      <a href="" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#registerModal">-->
<!--        <i class="bi bi-code-slash"></i> Get a Dev Profile-->
<!--      </a>-->
    </div>

    <div class="btn-group btn-group-sm btn-link-rounded" *ngIf="authService.isLoggedIn">
      <button type="button" class="btn btn-light" (click)="authService.SignOut()">
        <i class="bi bi-unlock-fill"></i> Logout
      </button>
      <button type="button" class="btn btn-light">
        Data
      </button>
    </div>
  </div>
</div>
