<div class="bg-color">
  <div class="container">
    <div class="row align-items-end pt-4">
      <div class="col-md">
        <h1 class="display-3"><span class="fw-lighter">Muhammad </span><span class="fw-bold border-bottom">Hilwan</span>
        </h1>
        <p class="lead font-dev m-0">Tech Lead Dev Engineer at Mastercard</p>
      </div>
      <div class="col-md text-end lead contacts">
        <a class="d-block" href="mailto:mdhilwan@gmail.com">mdhilwan@gmail.com</a>
        <a *ngIf="false" class="d-block" href="tel:+1-(312)-358-7984">🇺🇸 +1-(312)-358-7984</a>
        <a *ngIf="false" class="d-block" href="tel:+65-9017-2609">🇸🇬 +65-9017-2609</a>
      </div>
    </div>
    <hr class="hr-thick">
    <div class="row">
      <div class="col-md-9">
        <div class="font-playfair">
          <p class="lead">
            Used to be the fittest developer around.
          </p>
          <p class="lead">
            Having scaled the 6th highest mountain in the world, Cho Oyu in Tibet. Suffered a stroke at the advance base
            camp (20,000ft). And then proceed to summit the mountain at 8,201m (26,900ft).
          </p>
          <p class="lead">
            Passionate about the mountains, even more passionate about JS, TS, Java, Angular, React, Vue and anything
            that lives online. Love to experiment with FirebaseIO and NodeJS and explore ShodanIO once in a while.
          </p>
          <p class="lead">
            With 13 years of experience, I have been very heavily involved in many projects ranging from rebuilding of
            full enterprise wide corporate sites supporting multiple locales to experimental data visualizations
            campaign sites to development of SDKs for payment gateway services to be consumed by merchants.
          </p>
          <p class="lead">
            Love to share my knowledge and experience, and break complex things down into a simpler explanation. I used
            to conduct classes twice a week about JavaScript, advance MVC framework and even basic CSS/HTML. There's a
            lack of "education" on basic fundamentals of web technologies among many.
          </p>
        </div>
        <h5 class="font-dev py-5">Skills</h5>
        <div class="skills mb-5">
          <div class="row">
            <div class="col-md">Self-taught</div>
            <div class="col-md">Software Engineering</div>
            <div class="col-md">Problem Solving</div>
          </div>
          <div class="row">
            <div class="col-md">Dev Team Management</div>
            <div class="col-md">UI / UX focused</div>
            <div class="col-md">Agile (SAFe)</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Basic</h4>
        <ul>
          <li><strong>Age -- </strong> 35</li>
          <li><strong>Gender -- </strong> Male</li>
          <li><strong>Nationality -- </strong> Singaporean</li>
          <li><strong>Location -- </strong>Missouri, USA</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="sticky-top bg-white">
  <div class="container">
    <div class="row-cols-auto">
      <h5 class="my-5 font-dev py-3">Tech Stack</h5>
    </div>
  </div>
</div>
<div class="container pb-5">
  <div class="row">
    <div class="col-md">
      <h5 class="text-decoration-underline">Front-End</h5>
      <ul>
        <li>Language: Javascript, Typescript, ES2020, HTML, CSS (SASS, SCSS, LESS)</li>
        <li>HTML Framework: Bootstrap, Material, Foundation</li>
        <li>JS/TS Framework: React, Angular, Vue, Backbone, Marionette</li>
        <li>Testing Framework: Jasmine, Jest, Mocha, Selenium Webdriver</li>
        <li>Tools: NodeJs, Webpack, Gulp, Grunt, Terser, Browserify, Plumber</li>
      </ul>
      <h5 class="text-decoration-underline">Cloud</h5>
      <ul>
        <li>AWS</li>
        <li>EC2 Lamp</li>
      </ul>
    </div>
    <div class="col-md">
      <h5 class="text-decoration-underline">Backend</h5>
      <ul>
        <li>Language: Java, PHP</li>
        <li>Framework: Spring, Spring Boot</li>
        <li>Database: MySql, Mongo, Firebase, PostGres</li>
      </ul>
      <h5 class="text-decoration-underline">Tools</h5>
      <ul>
        <li>CI / CD: Bamboo, Jenkins</li>
        <li>Editor: Sublime, IntelliJ</li>
        <li>SVN: Github, Gitlab, Bitbucket</li>
        <li>Mgmt: JIRA</li>
        <li>Others: Postman, ShodanIO, RoboMongo, PgAdmin</li>
      </ul>
    </div>
  </div>
</div>
<div class="bg-color-dark pb-5"></div>
<div class="sticky-top bg-color-dark text-light">
  <div class="container">
    <div class="row-cols-auto">
      <h5 class="font-dev py-3 m-0">Education</h5>
    </div>
  </div>
</div>
<div class="bg-color-dark text-light">
  <div class="container py-5 education-section">
    <div class="row">
      <div class="education-entry col-lg">
        <div class="row">
          <div class="col">
            <small class="text-muted">01/02/2015 — 01/11/2017</small>
            <h4 class="font-dev">Bachelor of Commerce, Marketing</h4>
            <p><a class="link-light" href="https://www.murdoch.edu.au/" target="_blank">Murdoch University,
              Australia</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col text-white-50">
            Decided to upgrade myself with a Ba in Marketing from Murdoch University. Was very hesitant initially
            however decided that a Marketing degree will be useful for me when I conduct demos and try to sell products
            to potential clients.
          </div>
        </div>
      </div>
      <div class="education-entry col-lg">
        <div class="row">
          <div class="col">
            <small class="text-muted">01/05/2003 — 31/02/2006</small>
            <h4 class="font-dev">Diploma with Merit, Digital Media Design</h4>
            <p><a class="link-light" href="https://www.nyp.edu.sg/schools/sdm.html" target="_blank">Nanyang Polytechnic,
              School of Design and Media,
              Singapore</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col text-white-50">
            Was in Year 2 of Poly when I realised that I have a "thing" for coding and very few were interested in it.
            So I kept doing it and never stopped.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sticky-top bg-white">
  <div class="container">
    <div class="row-cols-auto">
      <h5 class="my-5 font-dev py-3">Employment History</h5>
    </div>
  </div>
</div>
<div class="container pb-5 employment-section">
  <div class="employment-entry row">
    <div class="col-12">
      <small class="text-muted">29 Apr 2019 — Present</small>
      <h4 class="font-playfair">
        <span class="bg-color px-2">
          Senior Software Development Engineer
        </span>
      </h4>
      <h5 class="font-playfair">
        <span class="bg-color px-2 me-2">Mastercard</span>
        <small class="text-muted">2200 Mastercard Blvd, O'Fallon, Missouri 63368, USA</small>
      </h5>
    </div>
    <div class="col-12 text-muted small">
      <strong>Manager — </strong>Sigmon, Jeffrey
    </div>
    <div class="col-lg-9 mt-3">
      <p class="lead">Take ownership of various Mastercard Payment Gateway Services assets, APIs, and Javascript
        SDKs.</p>
      <ul class="text-muted">
        <li>
          Heavily involved in various projects and led in the development, planning, and maintenance of the
          Javascript SDK code bases.
        </li>
        <li>
          Maintain proper version control following Semantic Versioning (Semver) best practices and ensuring that
          latest, plus one version before is always maintained and supported.
        </li>
        <li>
          Code quality is enforced by applying Standard JS linting and formatting, along with constant proper code
          reviews and pair programming ensuring top quality code to be shipped consistently.
        </li>
        <li>
          Use Typescript to maintain and organize clear and concise methods for merchants to implement it into their
          online shopping platform.
        </li>
        <li>
          Develop and maintain codebases to integrate with the backend solution architecture using a series of Java
          flow services to retrieve various information to the client.
        </li>
        <li>
          Develop RESTful APIs, controllers, and services to be integrated into the front-end Typescript and
          Javascript applications.
        </li>
      </ul>
    </div>
    <div class="col mt-3">
      <p class="lead">Key Projects:</p>
      <ul class="font-dev text-black-50">
        <li>Standardized and develop a base API code for all other JS SDKs</li>
        <li>Modernizing and future proofing of legacy platforms</li>
        <li>Rewrite legacy platform with modern Typescript and Angular framework</li>
      </ul>
    </div>
  </div>
  <div class="employment-entry row">
    <div class="col-12">
      <small class="text-muted">15 Oct 2018 — 14 Apr 2019</small>
      <h4 class="font-playfair">
        <span class="bg-color px-2">
          Senior Software Engineer — Fullstack
        </span>
      </h4>
      <h5 class="font-playfair">
        <span class="bg-color px-2 me-2">Crédit Agricole / Azqore</span>
        <small class="text-muted">80 Pasir Panjang Road, Singapore 117440</small>
      </h5>
    </div>
    <div class="col-12 text-muted small">
      <strong>Manager — </strong>Julien Mulaton
    </div>
    <div class="col-lg-9 mt-3">
      <p class="lead">Leading a team of Engineers to develop and maintain the software of Azqore that is used for
        bankers and corporate clients.</p>
      <ul class="text-muted">
        <li>
          Leading, building, and maintaining different projects and codebases that will be used by other developers.
        </li>
        <li>
          Organize, maintain, and develop clean and proper version control that is being used by different groups of
          engineers working simultaneously in different timezones.
        </li>
        <li>
          Ensure code quality using JSLint, peer to peer code reviews and pair programming, and also ensure best
          practices are followed.
        </li>
        <li>
          Use Angular5 to organize, display, sort big data from the database.
        </li>
        <li>
          Develop and maintain codebases to integrate with the backend solution architecture using a series of Java flow
          services to retrieve various information to the client.
        </li>
        <li>
          Develop RESTful APIs, controllers, and services to be integrated into the front-end Angular application.
        </li>
      </ul>
    </div>
    <div class="col mt-3">
      <p class="lead">Key Projects:</p>
      <ul class="font-dev text-black-50">
        <li>Build and maintain front-end libraries used in the Azqore S2I platform</li>
        <li>Make UI/UX improvements based on user stories and feedbacks</li>
        <li>Improve software development flow pipeline implemented in Jenkins to improve build times</li>
      </ul>
    </div>
  </div>
</div>
