@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.contacts {
  a {
    text-decoration: none;
    color: #1e1e1e;
  }
}

.hr-thick {
  height: 5px;
  color: #1e1e1e;
}

.bg-color {
  background-color: #f6eee4;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.skills .col-md {
  padding-left: 20px;
  position: relative;

  &::before {
    display: block;
    height: 3px;
    width: 15px;
    top: 10px;
    left: 0px;
    content: "";
    position: absolute;
    background-color: #1e1e1e;
  }
}

.bg-color-dark {
  background-color: rgb(39, 40, 44);
}

.employment-entry:not(:last-of-type),
.education-entry:not(:last-of-type) {
  margin-bottom: 3rem;
}

.employment-entry:not(:last-of-type) {
  padding-bottom: 2rem;
  border-bottom: 1px solid #c1d6e8;
}

.role-entry {
  .role-entry-date {
    font-size: 60%;
    white-space: nowrap;
  }

  &:last-of-type {
    opacity: 0.5;
  }

  &:only-of-type {
    opacity: initial;
  }
}
