<div class="main-background">
  <div class="container mb-5 title-group">
    <div class="d-block d-md-none py-5 mobile-title">
      <span class="d-inline-block bg-extra-dark px-3 py-1">
        <h1 class="text-light display-3 fw-bold">
          mdhilwan<span class="dev-font small text-muted">.dev()</span>
        </h1>
      </span>
      <span class="d-inline-block bg-extra-dark px-3 job-role">
        <span class="text-light">Tech Lead Dev Engineer</span>
      </span>
      <div>
        <span class="d-inline-block bg-extra-dark px-3 sub-job-role">
          <small class="text-secondary fw-bold">Mountain Climber / Stroke Survivor</small>
        </span>
      </div>
      <div>
        <span class="d-inline-block bg-extra-dark px-2 py-0">
          <small class="text-secondary fw-bold">@ Mastercard 🇺🇸</small>
        </span>
      </div>
    </div>
    <div class="d-none d-md-block px-4 py-5 desktop-title">
      <span class="d-inline-block bg-extra-dark px-5 py-2">
        <h1 class="title display-1 fw-bold text-light">
          mdhilwan<span class="dev-font small text-muted">.dev()</span>
        </h1>
      </span>
      <h2 class="mb-0 text-light job-role">
      <span class="d-inline-block bg-extra-dark px-4 py-2">
        Tech Lead Dev Engineer
      </span>
      </h2>
      <div class="mb-4">
        <span class="d-inline-block bg-extra-dark px-3 py-2 sub-job-role">
          <small class="text-secondary fw-bold">Mountain Climber / Stroke Survivor</small>
        </span>
      </div>
      <div>
        <span class="d-inline-block bg-extra-dark px-3 py-2">
          <small class="text-secondary fw-bold">@ Mastercard Payment Gateway Services 🇺🇸</small>
        </span>
      </div>
    </div>
  </div>
  <div class="patterns d-none d-sm-block">
    <div class="pattern md pos-0"></div>
    <div class="pattern xl pos-1"></div>
    <div class="pattern xl pos-2"></div>
    <div class="pattern sm pos-3"></div>
    <div class="pattern xs pos-4"></div>
    <div class="pattern md pos-5"></div>
  </div>
</div>
